*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/shelf
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf
.DS_Store
/build
/captures
.externalNativeBuild

app/release/*.aab
/*.jpg
/*.png
/*.svg
*.pepk
*.jks
/*.zip
