<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.suihan74.satena">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name=".SatenaApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.Light"
            android:usesCleartextTraffic="true">  <!-- 暗号化されていないHTTP通信を許可 -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->

        <!-- Services -->
        <service android:name=".NotificationService" />

        <!-- Receivers -->
        <!--<receiver android:name=".NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                        tools:ignore="BatteryLife" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        -->

        <receiver android:name=".BrowserToolbarManager"/>

        <!-- Activities -->
        <activity android:name=".scenes.entries.EntriesActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".scenes.bookmarks2.BookmarksActivity">
            <intent-filter android:label="ブコメを見る">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>

            <intent-filter android:label="Satenaで見る">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="b.hatena.ne.jp" android:pathPrefix="/entry"/>
            </intent-filter>
        </activity>

        <activity android:name=".scenes.preferences.PreferencesActivity" android:launchMode="singleTask"/>

        <activity
                android:name=".scenes.post2.BookmarkPostActivity"
                android:theme="@style/AppDialogTheme">
            <intent-filter android:label="ブコメを書く">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <!-- ログイン画面 -->
        <activity android:name=".scenes.authentication.HatenaAuthenticationActivity" android:launchMode="singleTask"/>
        <activity android:name=".scenes.authentication.MastodonAuthenticationActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="satena-mastodon"/>
            </intent-filter>
        </activity>

        <!-- ライセンス一覧 -->
        <activity
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
        />
        <activity
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
        />

        <activity
                android:name="com.suihan74.utilities.RestartActivity"
                android:excludeFromRecents="true"
                android:exported="false"
                android:launchMode="singleInstance"
                android:process=":restart_process"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
        />

    </application>

</manifest>
